.badge-container {
  display: inline-block;
  width:3em;
  text-align: left;
}
.statlist,
.statlist li {
  list-style:none; 
  margin:0; 
}
.statlist li {
  border-bottom: 1px #ccc solid;
  padding:5px;
}

.statlist li:nth-child(2n) {
  background: #e5eeff;
}

.action .btn {
  min-width:5em;
}

.btn-group + .btn-group {
  margin-left: 0;
}

.btn-group {
  margin-bottom:15px;
}

.statlist .current {
  padding: 5px;
}
.action {
  margin-top:20px;
  padding: 5px 0;
}

.loading {
  text-align: center;
  margin-top:10em;
}

#addstat .text {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  body {
    padding: 10px;
    } 

#addstat .text {
  width:180px;
}
  

}