<div id="header">
  <h1>Stats tracker</h1>
  <!-- TODO: Create closable help text -->
</div>
<form id="addstat" method="post" action="#addStat">

</form>
<ul id="statlist" class="statlist" >
  <li><span class="badge-container"><span class="badge">65</span></span> Health </li>  
</ul>

