<div class="btn-group">
  <button class="btn btn-small" data-add="1">+1</button>
  <button class="btn btn-small" data-add="10">+10</button>
  <button class="btn btn-small" data-add="100">+100</button>
  <button class="btn btn-small" data-add="1000">+1000</button>
</div>
<div class="btn-group">
  <button class="btn btn-small" data-add="-1">-1</button>
  <button class="btn btn-small" data-add="-10">-10</button>
  <button class="btn btn-small" data-add="-100">-100</button>
  <button class="btn btn-small" data-add="-1000">-1000</button>
</div>